@charset "UTF-8";
body {
  background-color: #292929; }

.title {
  color: #fff; }

.task-icon:before {
  content: ''; }

.Overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.65);
  color: #fff; }

.link {
  padding: 4rem 0; }

.Overlay h2 {
  margin-bottom: 3rem; }

.card {
  padding: 2rem 5rem;
  background-color: #212121;
  color: #fff; }
  @media screen and (max-width: 900px) {
    .card {
      padding: 2rem .5rem; } }

.card .input-field {
  margin-bottom: 1rem;
  width: 100%; }

.card input[type=text] {
  background-color: #212121;
  color: #fff;
  border-radius: 30px; }

.todo {
  padding: 2rem 0; }

.create, .random {
  margin-bottom: 2rem; }

.create form {
  display: flex;
  align-items: center; }

.create .create-btn {
  position: relative;
  right: 3rem;
  top: 2px;
  background: #ff9f33;
  color: #fff;
  transition: .3s; }
  .create .create-btn:hover {
    background: #f73b19;
    transition: .3s;
    border-color: #f73b19; }
  .create .create-btn:focus {
    background: #f73b19;
    transition: .3s;
    border-color: #f73b19; }
  @media screen and (max-width: 900px) {
    .create .create-btn {
      padding: .8rem 1.2rem; } }

.single-task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  background-color: #212121;
  box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.35);
  padding: 0 1rem;
  border-radius: 2px;
  margin-bottom: 1rem; }
  .single-task:last-child {
    margin-bottom: unset; }

.tasks {
  margin-bottom: 2rem; }

.fa-close {
  cursor: pointer;
  color: #f03f3f; }
